@import "./sass/import.scss";
@import "./sass/include.scss";


*{
    padding: 0;
    margin: 0;
    font-family: "Rubik", sans-serif;
}


.form{
    @include center($flex,$center,$center);
    flex-direction: column;
    background-color: $white;
    height: 86vh;
    width: 60vw;
    min-width: 435px;
    min-height: 600px;
    border-radius: 4vb;

    .logo{
        width: 10vw;
        height: 20vh;
        position: $relative;
        bottom: 4rem;
        min-width: 150px;
    }
    input {
        width: 15rem;
        height: 2.25rem;
        position: $relative;
        bottom: 1rem;
        min-width: 180px;
    }
    textarea{
        width: 15rem;
        height: 4rem;
    }

    .welcome{
        position: $relative;
        bottom: 2rem;
        text-align: $center;

    }
}

.centro{
    @include center($flex,$center,$center);
    background: $bg-color;
    background: linear-gradient(304deg, $bg-color1 0%, $bg-color2 51%, $bg-color3 100%);
    width: 100vw;
    height: 100vh;
}


.button_area{
    @include center($flex,$center,$center);
    position: $relative;
    top: 3rem;
    
}

.button_submit{
    height: 2rem;
    width: 15rem;
    position: $relative;
    background-color: $button-bg;
    left: 1.5rem;
}

.form_inputs{
    .error{
        display: none;
    }
    img {
        width: 2.5rem;
        height: 2.5rem;
    }
}
.msn_area{
    .msn_icon{
        margin-bottom: 1.5rem;
    }
}
.error{
    height: 1rem;
    width: 1rem;
}
#error_msn{
    margin-bottom:25px;
}
@media (max-height: 600px){
    .logo{
        display: none;
    }
    .centro{
        width: 100%;
        height: 90%;
    }
}
