$white: white;
$black: black;
$blue: blue;

$bg-color: rgb(2,0,36);
$bg-color1: rgba(2,0,36,1) ;
$bg-color2: rgba(9,9,121,1);
$bg-color3: rgba(0,212,255,1);

$button-bg: #90e0ef;

$flex:flex ;
$center: center ;
$relative: relative ;